.header{
    background-color: #7a7c7c;
    padding: 0 10% 10% 15%;
}

.cuerpo{
    padding: 0 20% 0% 15%;
}

.footer{
    background-color: #7a7c7c;
    padding: 0 20% 1% 15%;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

